body {
    font-family: 'Courier New', Courier, monospace;
    background-color: darkgrey;
}

.container {
   max-width: 75%;
   height: auto;
   padding: 20px;
   background-color: beige;
   box-shadow: 0 2px 5px black;
}

h1 {
    text-align: center;
    color: silver;
    font-size: 25px;
}

#pokemon-info {
    margin-top: 10px;
    background-color: skyblue;
    box-shadow: 0 2px 5px black;
}